.contact_cont{
    background-color: #ebf5fb ;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    font-family: "Work Sans", sans-serif;
    padding-bottom: 80px;
}

.contact_title_cont {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.contact_title {
   color: black;
   justify-content: center;
   text-align: center;
   font-family: "Work Sans", sans-serif;
   font-size: 55px;
   flex-wrap: wrap;
   font-weight: 700;
   line-height: 1.2;
   text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
   padding: 0 20px;
  
   /* ANIMATION */
   opacity: 0;
   transform: translateY(40px);
   animation: slideFadeIn 1.5s ease-out forwards;
}

/* ANIMATION */
@keyframes slideFadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
 
/* MAIN CONTACT */
.contact_main{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap; /* ensures it stacks on small screens */
  width: 100%;
}

/* image */
.contact_image {
  width: 300px;
  max-width: 90%;
  border-radius: 12px;
  margin: 1.5rem 0;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* CONTACTS */
.other_contacts{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.other_contacts h3{
  margin: 10px 0 5px;
  color: cornflowerblue ;
}

.other_contacts h4{
  margin: 0 0 15px;
  color: black
}

.map_cont{
  width: 100%;
  max-width: 900px;

}


@media (max-width: 600px) {
  .contact_cont {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 1rem;
  }

  .contact_title_cont {
    max-width: 100%;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }

  .contact_main{
    flex-direction: column;
    gap: 20px;
  }
}
