/* #root {
  display: flex;
  align-items: center;
  justify-content: center;
  
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensure body and html fill the screen */
html {
  height: 0%;
  width: 100%;
  
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 2vh;
}

h1{
  text-align: center;
  color: blueviolet;
  font-size: 3.2em;
  line-height: 1.1;
}

